@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* Rotating animation for the image */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-image {
  display: inline-block;
  animation: rotate 4s linear infinite; /* 4 detik animasi berputar terus menerus */
}

/* Card hover effect */
.hover-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.hover-card:hover {
  transform: scale(1.05); /* Membesar sedikit saat di hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Bayangan lebih besar */
}

